
:root {
    --main-light-bg-color: #f3e3d3;
    --main-dark-bg-color: #e4c7a7;
    --main-primary-text-color: #607baa;
    --main-secondary-text-color: #b74b41;
    --main-night-bg-color: #323232;
}

html, .logo {
    background-color: var(--main-night-bg-color);
}

* {
    color: var(--main-light-bg-color);
}